{% extends "structure.html" %}
{% block body %}

<div class="row">
<div class="col-sm-4"></div>
<div class="col-sm-4">
	<div id="form-container-normal">
	<br>
	<form method="POST" action="/reset" class="form-group">
		<input class="form-control" required type="email" placeholder="Enter your email" name="email" value="{{ request.form.email }}"><br>
		<div class="row">
			<div class="col-sm-6">
				<a href="/" class="form-control btn btn-success">Cancel</a>
			</div>
		<div class="col-sm-6"><input class="form-control btn btn-danger" type="submit" name="Reset" value="RESET PASSWORD"></div>
		</div>
		{% if error %}
		<br><br>
		<span id="container">{{ error }}</span>
		{% endif %}
	</form>
	</div>

</div>
<div class="col-sm-4"></div>
	
</div>
<a href="/change"></a>
{% endblock %}