{% extends "structure.html" %}
{% include "includes/_navbar.html" %}


{% block body %}

<h1>Spreadsheet displayer</h1>

<div class="container-fluid">
    <table class="table table-sm table-striped">
        <thead></thead>
        <tbody>
            <tr>
                <td>Hello</td>
                <td>Hello</td>
                <td>Hello</td>
                <td>Hello</td>
            </tr>
            <tr>
                <td>Hello</td>
                <td>Hello</td>
                <td>Hello</td>
                <td>Hello</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock body %}