<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Imara</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='mine/sty.css')}}">
		<link rel="stylesheet" href="../static/mine/sty2.css">

	<link rel="stylesheet" href="../static/css/bootstrap.min(normal).css">
	<link rel="stylesheet" href="../static/css/fontawesome.css">


	<link rel="stylesheet" href="../static/css/all.css">

</head>
<body>
		{% block body %} 
		{% endblock %}	
</body>
</html>